.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(14, 122, 26, 1);
  border: 1px solid rgba(14, 122, 26, 1);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgba(35, 179, 18, 1);
  border-color: rgba(35, 179, 18, 1);
}
