* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(16, 40, 3, 1) 0%,
    rgba(14, 122, 26, 1) 46%,
    rgba(35, 179, 18, 1) 100%
  );
}
